<menu>
    <ul class="top_menu">        
        <li *ngFor="let menuItem of menuItems">
            <a [routerLink]="[menuItem.url]" preserveQueryParams routerLinkActive="active">
                <div>
                    {{menuItem.name}}
                </div>
            </a>
        </li>
        <a *ngFor="let lan of languages" (click)="changeLan(lan)" class="login" [class.login-active]="lan == language" lang="{{lan}}">{{lan}}</a>
        <a *ngIf="!isAuthenticated" routerLink="login" class="login">Log in</a>
        <a *ngIf="isAuthenticated" (click)=logout() class="login">Log out {{userName}} </a>
    </ul>
</menu>
